.auth-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;

  .logo {
    h3 {
      color: #424242;
      font-size: 44px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 30px;
      margin-top: 20px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    input {
      border-radius: 5px;
      padding: 0 0 0 15px;
      margin: 10px 0 0 10px;
      color: #212529;
      border: 1px solid #cfd4d9;
      font-size: 13px;
      font-weight: 400;
      width: 200px;
      height: 32px;
      align-items: flex-start;
      flex-shrink: 0;
    }

    button {
      margin-top: 20px;
      margin-bottom: 30px;
      height: 25px;
      padding: 0 12px;
      align-items: center;
      font-family: Inter, serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 300;
      background-color: #0d6efd;
      color: #ffffff;
    }
  }

  .another-entrance {
    h6 {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #424242;
    }

    button {
      font-size: 13px;
      height: 23px;
      padding: 0 12px;
      border: 1px solid #6c757d;
      border-radius: 4px;
      align-items: center;
      color: #212529;
    }
  }
}